<web-app>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>

<servlet> 
<description></description>
<servlet-name>inscriServlet</servlet-name>
<servlet-class>inscriServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>inscriServlet</servlet-name>
<url-pattern>/inscriServlet</url-pattern>
</servlet-mapping>


<servlet> 
<description></description>
<servlet-name>connServlet</servlet-name>
<servlet-class>connServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>connServlet</servlet-name>
<url-pattern>/connServlet</url-pattern>
</servlet-mapping>


<servlet> 
<description></description>
<servlet-name>ajoutServlet</servlet-name>
<servlet-class>ajoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ajoutServlet</servlet-name>
<url-pattern>/ajoutServlet</url-pattern>
</servlet-mapping>



<servlet> 
<description></description>
<servlet-name>suppServlet</servlet-name>
<servlet-class>suppServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>suppServlet</servlet-name>
<url-pattern>/suppServlet</url-pattern>
</servlet-mapping>


<servlet> 
<description></description>
<servlet-name>modifServlet</servlet-name>
<servlet-class>modifServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>modifServlet</servlet-name>
<url-pattern>/modifServlet</url-pattern>
</servlet-mapping>


<servlet> 
<description></description>
<servlet-name>listeServlet</servlet-name>
<servlet-class>listeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>listeServlet</servlet-name>
<url-pattern>/listeServlet</url-pattern>
</servlet-mapping>









</web-app>